<%= form_with(model: questionnaire, local: true) do |form| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :regards %>
    <%= form.text_area :regards %>
  </div>

  <div class="field">
    <%= form.label :thanks %>
    <%= form.text_area :thanks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
